
<!-- <head>
	<link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css"/>
	<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
	<script type="text/javascript" src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
	<script type="text/javascript" src="bower_components/fullcalendar/fullcalendar.js"></script>
	<script type="text/javascript" src="bower_components/fullcalendar/gcal.js"></script>
</head> -->

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="hero-unit" id="banner">
  <div class="container">
    <h3> Calendar Sign Up</h3>
  </div>


</div>

<div role="main">
	<div class="container">
		<div class="page-header">
			<h1>Calendar </h1>
		</div>
		<div class="well">
			<div class="span4">
				<h3> These are the upcoming events </h3>
				<p> If there is a date that works for you, please remember the date. </p>
			</div>
			<div class="span8">
				<tabset>
					<tab select="renderCalendar('myCalendar);">
						

						<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
							<h4> {{alertMessage}}</h4>

						</div>

						<div class="btn-toolbar">
							<div class="btn-group">
								<button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar')"> AgendaDay </button>
								<button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar')"> AgendaWeek </button>
								<button class="btn btn-success" ng-click="changeView('agendaMonth', 'myCalendar')"> AgendaMonth</button>
							</div>
						</div>

					<div class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div>
					</tab>
				</tabset>
			</div> 
		</div>
	</div>
</div>
