<!-- including the other .js file -->
<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h2>Sign Up for Reoccurring Events</h2>
  </div>
</header>

<div class="list-group">
 	<div class="container">
  		<div class="row">
  			<h2 class="page-header">Pick a day of the week:</h2>

  			<section class= "tab" >
  				<ul class="nav nav-pills">
  					<!-- Day of week Tabs -->
		          <li ng-class= "{ active:isSet(1)}">
		            <a href ng-click="setTab(1)">Monday</a> 
              </li>
		          <li ng-class= "{ active:isSet(2)}">
		            <a href ng-click="setTab(2)">Tuesday</a>
              </li>
		          <li ng-class= "{ active:isSet(3)}">
		            <a href ng-click="setTab(3)">Wednesday</a>
              </li>
		          <li ng-class= "{ active:isSet(4)}">
		            <a href ng-click="setTab(4)">Thursday</a>
              </li>
		          <li ng-class= "{ active:isSet(5)}">
		            <a href ng-click="setTab(5)">Friday</a>
              </li>
		          <li ng-class= "{ active:isSet(6)}">
		            <a href ng-click="setTab(6)">Saturday</a>
              </li>
		          <li ng-class= "{ active:isSet(7)}">
		            <a href ng-click="setTab(7)">Sunday</a>
              </li>
		      </ul>

          <!-- Monday Tab -->
          <div ng-show = "isSet(1)">
			      <h3>Volunteer Times on Monday: </h3>
            <li ng-repeat="day in data[0]">
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right"><button type="button">Volunteer Now!</button></em></blockquote>  
            </li> 
				  </div>

          <!-- Tuesday Tab -->
          <div ng-show = "isSet(2)">
            <h3>Volunteer Times on Tuesday: </h3>
            <li ng-repeat="day in data[1]">
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right"><button type="button">Volunteer Now!</button></em></blockquote>  
            </li>
          </div>

          <!-- Wednesday Tab -->
          <div ng-show = "isSet(3)">
            <h3>Volunteer Times on Wednesday: </h3>
            <li ng-repeat="day in data[2]">
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right"><button type="button">Volunteer Now!</button></em></blockquote>  
            </li>
          </div>

          <!-- Thursday Tab -->
          <div ng-show = "isSet(4)">
            <h3>Volunteer Times on Thursday: </h3>
            <li ng-repeat="day in data[3]">
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right"><button type="button">Volunteer Now!</button></em></blockquote>  
            </li>
          </div>

          <!-- Friday Tab -->
          <div ng-show = "isSet(5)">
            <h3>Volunteer Times on Friday: </h3>
            <li ng-repeat="day in data[4]">
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right"><button type="button">Volunteer Now!</button></em></blockquote>  
            </li>
          </div>

          <!-- Saturday Tab -->
          <div ng-show = "isSet(6)">
            <h3>Volunteer Times on Saturday: </h3>
            <li ng-repeat="day in data[5]">
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right"><button type="button">Volunteer Now!</button></em></blockquote>  
            </li>
          </div>

          <!-- Sunday Tab -->
          <div ng-show = "isSet(7)">
            <h3>Volunteer Times on Sunday: </h3>
            <li ng-repeat="day in data[6]">
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right"><button type="button">Volunteer Now!</button></em></blockquote>  
            </li>
          </div>


        </section>
	</div>

</div>
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>


