<!-- including the other .js file -->
<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h2>Sign Up for Reoccurring Events</h2>
  </div>
</header>

<div class="list-group">
 	<div class="container">
  		<div class="row">
        <h3 class="page-header">Pick a day of the week:</h3>

  			<!-- directions for the user -->
        <p>Please select the times you are available to volunteer for the next three months. The times we need volunteers are organized by the day of the week, please be sure to select the tab with day you would like to volunteer before selecting the time. Each time slot on this page has a specific job description. If you are interested in volunteering for a single time please go to the <a <a href="/eventsignup">Event Sign Up page </a>. </p> 
        <!-- line dividing the page after the directions -->
        <hr>
        

        <!-- Day of week Tabs -->
  			<section class= "tab" >
  				<ul class="nav nav-pills">
		          <li ng-class= "{ active:isSet(1)}">
		            <a href ng-click="setTab(1)">Monday</a> 
              </li>
		          <li ng-class= "{ active:isSet(2)}">
		            <a href ng-click="setTab(2)">Tuesday</a>
              </li>
		          <li ng-class= "{ active:isSet(3)}">
		            <a href ng-click="setTab(3)">Wednesday</a>
              </li>
		          <li ng-class= "{ active:isSet(4)}">
		            <a href ng-click="setTab(4)">Thursday</a>
              </li>
		          <li ng-class= "{ active:isSet(5)}">
		            <a href ng-click="setTab(5)">Friday</a>
              </li>
		          <li ng-class= "{ active:isSet(6)}">
		            <a href ng-click="setTab(6)">Saturday</a>
              </li>
		          <li ng-class= "{ active:isSet(7)}">
		            <a href ng-click="setTab(7)">Sunday</a>
              </li>
		      </ul>

          <!-- Monday Tab -->
          <div ng-show = "isSet(1)">
			      <h3>Volunteer Times on Monday: </h3>
            <li ng-repeat="day in data[0]" ng-show = "day.isOpen">
                <!-- display the time and job and a button to volunteer at this time-->
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right">
                  <button type="button" ng-click="changeOpen(day)">Volunteer Now!</button></em>
                </blockquote> 
            </li> 
				  </div>

          <!-- Tuesday Tab -->
          <div ng-show = "isSet(2)">
            <h3>Volunteer Times on Tuesday: </h3>
            <li ng-repeat="day in data[1]" ng-show = "day.isOpen">
                <!-- display the time and job and a button to volunteer at this time-->
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right">
                  <button type="button" ng-click="day.isOpen=false" ng-init "day.isOpen">Volunteer Now!</button></em>
                </blockquote>   
            </li>
          </div>

          <!-- Wednesday Tab -->
          <div ng-show = "isSet(3)" >
            <h3>Volunteer Times on Wednesday: </h3>
            <li ng-repeat="day in data[2]" ng-show = "day.isOpen">
                <!-- display the time and job and a button to volunteer at this time-->
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right">
                  <button type="button" ng-click="day.isOpen=false" ng-init "day.isOpen">Volunteer Now!</button></em>
                </blockquote>    
            </li>
          </div>

          <!-- Thursday Tab -->
          <div ng-show = "isSet(4)">
            <h3>Volunteer Times on Thursday: </h3>
            <li ng-repeat="day in data[3]" ng-show = "day.isOpen">
                <!-- display the time and job and a button to volunteer at this time-->
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right">
                  <button type="button" ng-click="day.isOpen=false" ng-init "day.isOpen">Volunteer Now!</button></em>
                </blockquote>    
            </li>
          </div>

          <!-- Friday Tab -->
          <div ng-show = "isSet(5)">
            <h3>Volunteer Times on Friday: </h3>
            <li ng-repeat="day in data[4]" ng-show = "day.isOpen">
                <!-- display the time and job and a button to volunteer at this time-->
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right">
                  <button type="button" ng-click="day.isOpen=false" ng-init "day.isOpen">Volunteer Now!</button></em>
                </blockquote>   
            </li>
          </div>

          <!-- Saturday Tab -->
          <div ng-show = "isSet(6)">
            <h3>Volunteer Times on Saturday: </h3>
            <li ng-repeat="day in data[5]" ng-show = "day.isOpen">
                <!-- display the time and job and a button to volunteer at this time-->
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right">
                  <button type="button" ng-click="day.isOpen=false" ng-init "day.isOpen">Volunteer Now!</button></em>
                </blockquote>   
            </li>
          </div>

          <!-- Sunday Tab -->
          <div ng-show = "isSet(7)">
            <h3>Volunteer Times on Sunday: </h3>
            <li ng-repeat="day in data[6]" ng-show = "day.isOpen">
                <!-- display the time and job and a button to volunteer at this time-->
                <blockquote><strong>{{day.time}}</strong> Job: {{day.job}} <em class="pull-right">
                  <button type="button" ng-click="day.isOpen=false" ng-init "day.isOpen">Volunteer Now!</button></em>
                </blockquote>     
            </li>
          </div>


        </section>
	</div>

</div>
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>


